---
title: catch this kite to feel St. Elmo's fire
date: "2023-09-18"
---

the stars spell out your name in dolomite
in spirals, sketch your shape 'gainst sunless night
too far to touch, yet filling me with light

though godless, i cannot now but enquire
how titan balls of gas can thus inspire
old echoes of my sometimes heart's desire

oh! ring my bell when you've an appetite
to squeeze your voice through machine megabytes
into an ear that, hearing you, delights!

no sea can douse my mind's electric fire
no distance rend our souls: they're whole; entire!
if love has limits, we've made love a liar

and e'en if Death declared her famed birthright
to cut me from the Land of Vegemite
before the Fates restore you to my sight

still would you have from me this signal pyre
of synapse flips through bits of air and wire
reminding you: Some wishes don't expire!

for though the Earth may grant us no respite
and though the future is as dark as bright
the whisp'ring stars on which we wish still write:

all's alright
all's alright
