---
title: the world behind the world shifted
date: "1999-11-11"
---

```
like a worm through a vein
	too big for its girth
like a ripple in space somewhere
	not of this earth
like a white facial zit
	plump to bursting and yet
while there's no proof i saw it
	it’s out there i’ll bet!

■
```