---
title: the sin of monogamy
date: "2025-07-07"
---

# the sin of monogamy

```
it puts a story in your head
it makes you think you need it
    it puts you in the role
    of one who needs control
but as you’ll find out when you’re dead
possessions all get ceded
```