---
title: training
date: "2025-07-09"
description: "a poem about attention deficit dependency"
---

# training

if i can put inside you

some ever-growing need

you’ll be bound beside me

addicted to my feed

■